@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

/*=============== VARIABLES ===============*/
:root {
    /* FONT-SIZE RESET || 1rem = 10px => i.e 100px = 10rem */
    font-size: 62.5%;

    /* FONT FAMILY  */
    --ff-main: 'Montserrat', sans-serif;

    /* COLORS */
    --primary-color: #003057;
    --text-color: #262628;
    --nav-text-color: #666666;
    --white: #fff;
    --bg-color: #F9F9F9;
    --hover-card-dark: #F1F1F1;

    /* FONT SIZE */
    /* Clamp Calculator: https://grizhlie-clamp-calculator.netlify.app/ */
    --fs-title: clamp(3rem, 1.2824rem + 4.5802vw, 4.8rem);
    --fs-paragraph: 1.6rem;

    --fs-header-lg: 3rem;
    --fs-header-md: 2.4rem;
    --fs-header-sm: 1.8rem;

    --fs-btn-lg: 1.8rem;
    --fs-btn-md: 1.6rem;
    --fs-btn-sm: 1.4rem;

    /* FONT WEIGHT */
    --fw-extra-bold: 900;
    --fw-bold: 700;
    --fw-regular: 400;

    --mobile-nav-height: 12rem;
    --desktop-nav-height: 7.2rem;

}

body {
    font-family : var(--ff-main);
    background-color: var(--bg-color);
}

/*=============== REUSABLE CSS CLASSES ===============*/

.container {
    max-width: 144rem;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.section__title,
.section__subtitle {
  text-align: center;
  font-weight: var(--fw-extra-bold);
}

.extra-bold{
    font-weight: var(--fw-extra-bold);
}
.white {
    color: var(--white);
}

.show-card {
    display: none;
}
@media screen and (min-width: 768px) {
    .show-card {
        display: grid;
    }
}
.show-card-desktop {
    display: none;
}
@media screen and (min-width: 1024px) {
    .show-card-desktop {
        display: grid;
    }
}
/*=============== HEADER & NAV ===============*/

.header {
    background-color: var(--primary-color);
    height: var(--mobile-nav-height);
    justify-content: space-between;
    padding: 2.4rem;
    align-items: center;
}

.nav__logo {
}

.nav {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 12rem;
}

.primary-nav {
    flex-direction: column;
    background-color: var(--hover-card-dark);
}

.nav__link {
    text-decoration: none;
    color: var(--primary-color);
}

.nav__item {
    font-size: var(--fs-btn-lg);
    font-weight: var(--fw-bold);
    padding: 2.4rem;
    box-shadow: inset 4px 0px 0px #000000;
    cursor: pointer;
}
.nav__item::after {
}

.hamburger-menu {
    display: block;
    font-size: 4.4rem;
    color: var(--white);
    cursor: pointer;
}

.show {
    display: block;
}

/*=============== HOME SECTION ===============*/
.home {
    margin-top: 4.8rem;
}
.home__container {
    gap: 2.4rem;
    margin-bottom: 4.8rem;
}

.home__title {
    font-size: var(--fs-title);
    color: var(--primary-color);
    font-weight: var(--fw-regular);
    margin-left: 2.4rem;
    margin-right: 2.4rem;
}

.home__subtitle {
    font-size: var(--fs-paragraph);
    font-weight: var(--fw-bold);
    margin-left: 2.4rem;
    margin-right: 2.4rem;
}

.home__buttons {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.button {
    width: 20.5rem;
    background-color: var(--white);
    border: 1px solid var(--primary-color);
    padding: 2.25rem 2.4rem;
    color: var(--primary-color);
    font-size: var(--fs-btn-lg);
    font-weight: var(--fw-bold);
    text-decoration: none;

    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button--dark {
    background-color: var(--primary-color);
    color: var(--white);
}

.icon {
    font-size: var(--fs-btn-lg);
    margin-right: 0.7rem;
}

/*=============== SHOWCASE SECTION ===============*/

.showcase__container {
    background-color: var(--white);
    padding: 2.4rem;
    gap: 2.4rem;
    grid-template-columns: 1fr;
}

.showcase__header {
    padding: 0.8rem;
    justify-content: space-between;
    align-items: center;
}

.showcase__title {
    font-size: var(--fs-header-md);
}

.hyperlink {
    color: var(--primary-color);
    font-size: var(--fs-btn-md);
    text-decoration: underline;
    cursor: pointer;
}

.card {
    background-color: var(--bg-color);
    padding: 2.4rem;
    gap: 2.4rem;
}

.card__img {

}

.card__description {
    font-size: var(--fs-paragraph);
    margin-left: 2.4rem;
    margin-right: 2.4rem;
    text-align: center;
}

.card__button {
    padding: 1.6rem 2.4rem;
    margin-left: auto;
    margin-right: auto;
}

/* TABLET */
@media screen and (min-width: 768px) {
    

    /* HOME */
    .home__buttons {
        flex-direction: row;
    }

    /* SHOWCASE */
    .span{
        grid-column: span 3;
    }

    .showcase__container {
        margin: 2.4rem;
        grid-template-columns: repeat(3, 1fr);
    }

    .card {
        padding: 0rem;
    }

    .card__img {
        padding: 2.4rem 2.4rem 0;
    }

    .card__description {
        margin-left: 4.8rem;
        margin-right: 4.8rem;
    }
    
    .card__button {
        margin-bottom: 4.8rem;
    }
}

/* DESKTOP */

@media screen and (min-width: 1024px) {
    .header {
        height: var(--desktop-nav-height);
        background-color: var(--white);
        margin-left: auto;
        margin-right: auto;
        padding: 0rem;
        align-items: initial;
    }

    .nav {
        display: block;
        position: initial;
        left: unset;
        right: unset;
        top: unset;
    }

    .primary-nav {
        height: 100%;
        justify-content: space-around;
        flex-direction: row;
        background-color: transparent;
    }

    .nav__item {
        font-size: var(--fs-btn-lg);
        font-weight: var(--fw-bold);
        height: 100%;
        padding: 2.25rem 2.4rem;
        transition: all 0.3s ease;
        box-shadow: none;
    }
    .nav__item:hover {
        background-color: var(--bg-color);
        color: var(--primary-color);
        box-shadow: inset 0px -4px 0px var(--primary-color);
    }

    .nav__link {
        text-decoration: none;
        color: var(--nav-text-color);
    }
 
    .hamburger-menu {
        display: none;
    }

    .span {
        grid-column: span 4;
    }
    .showcase__container {
        margin: 0 auto;
        grid-template-columns: repeat(4, 1fr);
    }

    /* Hover Transitions */
    .card {
        transition: all 0.4s ease;
    }
    .card__button {
        transition: all 0.3s ease;
    }
    /* HOVER STYLING */
    .card:hover {
        background-color: var(--hover-card-dark);
    }

    .card__button:hover {
        background-color: var(--primary-color);
        color: var(--white);
    }
}

@media screen and (min-width: 1440px) {
    .home__container {
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .home__title {
        grid-column: span 3;
        text-align: center;
    }

    .home__subtitle {
        margin: 0;
    }

    .home__buttons {
        grid-column: 3 / 4;
    }
}